/* override custom styles */
@import url("https://fonts.googleapis.com/css?family=Mulish");

:root {
  --bs-font-sans-serif: "Mulish" sans-serif !important;
  --bs-dark: #1e3240 !important;
}

body {
  font-family: "Mulish", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  --bs-navbar-brand-color: #1e3240 !important;
}
